<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>149104273175-pshffbqea3if3ag67g6s5bpf8calodo6.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.149104273175-pshffbqea3if3ag67g6s5bpf8calodo6</string>
    <key>API_KEY</key>
    <string>AIzaSyCuft8l8rExgSC85kISl_vBR141NjDBJhE</string>
    <key>GCM_SENDER_ID</key>
    <string>149104273175</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>techit.PetMate</string>
    <key>PROJECT_ID</key>
    <string>petmate-f8cbb</string>
    <key>STORAGE_BUCKET</key>
    <string>petmate-f8cbb.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:149104273175:ios:730780b78d97ab4b32f952</string>
</dict>
</plist>
